# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# make sure a npm lock file doesn't get pushed in yarn project
package-lock.json

# testing
/coverage

# production
dist/

# packages
*.tgz

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*~
